        <div class="container-lrg flex">
          <div class="col-6 centervertical">
            <h1 class="heading">
              Simplify how you define and deploy Kubernetes artifacts.
            </h1>
            <h2 class="paragraph ">
              Use Kedge to deploy applications with sensible defaults.
            </h2>
            <div class="ctas">
              <a class="ctas-button" href="https://github.com/kedgeproject/kedge/releases">                
                <img src="img/github.png">
                <span>
                  download on GitHub
                </span>
              </a>
            </div>
          </div>
          <div class="col-6 sidedevices">
            <div class="computerwrapper">
              <div class="computer">
                <div class="mask">
                  <img class="mask-img" src="http://kedgeproject.org/img/demo.gif">
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <div class="feature3">
        <div class="container-lrg flex">
          <div class="col-4">
            <b class="emoji">
              🎓
            </b>
            <h3 class="subheading">
              An extension of Kubernetes definitions
            </h3>
            <p class="paragraph">
              Use pre-existing definitions such as Pod or Container within your artifact file.
            </p>
          </div>
          <div class="col-4">
            <b class="emoji">
              🔎
            </b>
            <h3 class="subheading">
              Shortcuts
            </h3>
            <p class="paragraph">
              Reduce your file-size and definitions by using intuitive Kedge shortcuts.
            </p>
          </div>
          <div class="col-4">
            <b class="emoji">
              🚀
            </b>
            <h3 class="subheading">
              Concise
            </h3>
            <p class="paragraph">
              Define just the necessary bits, Kedge will interpolate and pick the best defaults for your application to run on Kubernetes.
            </p>
          </div>
        </div>
      </div>

      <div class="feature6">
        <div class="container-sml flex">
          <div class="col-12">
            <h3 class="heading">
              Avoid writing long artifact files, deploy an application straight to a Kubernetes cluster
            </h3>
            <p class="paragraph">
            </p>
        </div>
            </p>
          </div>
        </div>
      </div>

