<html>
  <head>
      {% include head.html %}
  <body>
    <header class="header">
      {% include header.html %}      
    </header>
    {% if page.url == "/" %}
      {% include home.html %}
  
    {% else %}
     <div class="feature6">
        <div class="container-sml flex">
          <div class="col-12">
              {{ content }}          
          </div>
        </div>
      </div>
    {% endif %}
      
    
    <div class="footer">
        {% include footer.html %}
    </div>
  </body>
</html>
